* {
  font-family: Montserrat, sans-serif;
}

[v-cloak] > * { display:none; }
[v-cloak]::before { content: "loading..."; }

.x_size{
    font-size: 2.5rem;
}

.completed {
    text-decoration: line-through;
}

.span_title {
    font-size: 30px;
}

.center_items {
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(0,123,255,.25);
}

.css_icon_add {
    height: 30px;
    width: 30px;
    color: limegreen !important;
    cursor: pointer;
    margin-right: 8px;
}

.css_icon_edit {
    height: 20px;
    width: 20px;
    color: orange !important;
    cursor: pointer;
}

.css_icon_delete {
    height: 20px;
    width: 20px;
    color: red !important;
    cursor: pointer;
}

.close {
    float: none;
}